fastapi 
uvicorn[standard]
pydantic
pydantic-settings
sqlalchemy[asyncio]
asyncpg
python-jose[cryptography]
alembic
passlib
librosa
python-multipart
black==23.12.1
flake8==7.0.0
isort==5.13.2
pre-commit
pytest
pytest-cov
httpx
jose
python-dotenv
essentia-tensorflow
numpy<2